.wrapper {
    padding-bottom: 40px;
    padding-top: 70px;
  }

  .container {
    padding-top: 5%;
  }

  .top-distance {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    margin-top:10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }