.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
  }

.background {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .container {
    padding-top: 5%;
  }

  .top-distance {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container{
    margin-top:10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .responsive-image {
    position: relative;
    max-width: 100%;
  }
  
  .responsive-image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }