.portfolio-section {
    padding-top: 50px;
    margin-bottom: 10px;
}

.portfolio-item {
    margin-top: 30px;
}

.portfolio-image {
    display: flex;
    justify-content: flex-end;
}

.date-text {
    color: gray;
    font-size: 15px;
    margin-bottom: 5px;
}

.portfolio-open {
    background-color: #BDBACF;
    margin-top: 30px;
    padding: 20px 0px;
    text-align: center;
}

.link {
    text-decoration: none !important;
    color: rgb(80, 96, 165) !important;
    }
    
.link:hover {
    color: rgb(17, 20, 31) !important;
}