@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

.header {
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-align:justify;
  color: black;
}

li {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.footer {
  font-size: 13px !important;
  text-align: center;
  padding-top: 10px;           
}

.contact {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.header-background {
  width: 100%;
  margin-top: -10px;
  z-index: -1;
}

.footer-background {
  width: 100%;
  margin-bottom: -10px;

}

.responsive-image {
  position: relative;
  max-width: 100%;
}

.responsive-image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}