@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

.header {
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-align:justify;
  color: black;
}

.footer {
  font-size: 13px !important;
  text-align: center;
  margin-top: 10px;
}

.contact {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
